*{
    margin: 0;
    padding: 0;
}
/* .banner{
    width: 500px;
    /* height: auto; */
    background: teal;
    padding: 20px 0;
    margin: 0 auto;
}
/* .banner img{
    width: 100%;
} */ */
/* #title{
  animation: ani .5s ease-in .02s infinite alternate;
}
  @keyframes ani {
        from{
            animation-timing-function: ease-in;
        }to{
            animation-timing-function: ease-out;

        }
         */
    }