*{
    margin: 0;
    padding: 0;
}
        .search_btn,
        .input {
            display: inline-block;
        }

        #img-one {
            display: block;
        }

        a {
            display: block;
        }
input{
    display: block;
    width: 100%;
    background: #2084d1;
    color: white;
    font-size: 20px;
}